alias cls='clear'
alias gitx='open -a GitX .'
alias gs='gst'
alias glog='git log -n 5'
alias glast='git log -n 1'
alias gd='git diff'
alias gdc='git diff --cached'
alias gds='git diff --stat'

alias tlog='tail -f log/development.log'  # tail log
alias ctlog='cp /dev/null log/development.log && tail -f log/development.log' # clear and tail log
alias devlog='tail -f log/development.log'

alias nginxconf='sudo vi /usr/local/etc/nginx/nginx.conf'
alias apacheconf='sudo vi /etc/apache2/httpd.conf'
alias zshrc='vi ~/.zshrc; source ~/.zshrc'
alias ohmyzsh='vi ~/.oh-my-zsh'
alias vimrc='vi ~/.vimrc; source ~/.vimrc' 
alias bashrc='vi ~/.bashrc; source ~/.bashrc'

alias e='$EDITOR'
alias ev="$EDITOR ~/config/vimrc"
alias ez="$EDITOR ~/.zshrc && source ~/.zshrc"
alias sz="source ~/.zshrc"

alias r='rails'
alias g='git'
alias o='open'
alias t='tail -f'
alias v='vagrant'
alias b='bundle'
alias :q='exit'
alias pid='ps aux | grep -v grep | grep $1'
alias pidof='pidof | grep $1'
alias pyserver='python -m SimpleHTTPServer $1'

# http://osxdaily.com/2010/05/06/speed-up-a-slow-terminal-by-clearing-log-files
alias speedup='sudo rm /private/var/log/asl/＊.asl'

alias myip='curl icanhazip.com'

# project alias
alias 'dev'='cd ~/Development'
alias 'capalyze'="cd ~/Development/capalyze"
alias 'r8'="cd ~/Development/r8"
alias 'tweet'='cd ~/Development/tweet'
